{% assign stylesheet = "../../static/style.css" %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ stylesheet }} />
  </head>
  <sidebar>
    <p>what</p>
  </sidebar>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>